/* 
  Section guide :
  elle contient l'introduction du projet + les 3 cartes catégories
*/
.guideSection {
	padding: 1.2rem 1rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* 
  Conteneur du texte d'introduction
  → sert surtout à centrer le bloc
*/
.guideDescription {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 2rem;
}

/* 
  Texte d'introduction du guide
  → la bordure verticale est appliquée uniquement au texte
  pour ne pas prendre plus de hauteur que nécessaire
*/
.guideText {
	margin: 0;
	width: 100%;
	max-width: 1250px;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	font-family: var(--font-body);
	line-height: 1.6;
	font-style: italic;
	color: var(--text-color);
	padding: 0 1.5rem;
	border-inline: 2px solid var(--btn-color);
}

/* 
  Grille des 3 cartes
*/
.guideGrid {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2rem;
}

.guideCard {
	background-color: var(--card-color);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1.4rem;
	border-radius: 10px;
	height: 100%;
}

.imgCard {
	width: 100%;
	max-width: 320px;
	border-radius: 10px;
	aspect-ratio: 4 / 3;
	object-fit: contain;
	border: 0.8px solid var(--text-color);
	background-color: #ffdfd2;
	display: block;
}

.descriptionCard {
	margin: 0;
	font-size: 0.9rem;
	font-family: var(--font-body);
	line-height: 1.5;
	text-align: center;
	color: var(--text-color);
	max-width: 320px;
}

/* ===================== GRAND ÉCRAN ===================== */

@media screen and (min-width: 1500px) {
	.guideSection {
		min-height: 80vh;
		padding: 2rem 1.5rem 0.8rem;
		gap: 2.4rem;
		justify-content: center;
	}

	.guideText {
		max-width: 1360px;
		font-size: 1.12rem;
		line-height: 1.75;
		padding: 1.2rem 2.7rem;
	}

	.guideGrid {
		max-width: 1380px;
		gap: 2.2rem;
	}

	.guideCard {
		padding: 1.4rem 1.2rem 1.5rem;
		gap: 1.6rem;
	}

	.imgCard {
		max-width: 360px;
	}

	.descriptionCard {
		max-width: 350px;
		font-size: 1rem;
		line-height: 1.6;
	}
}

/* ===================== TABLETTE ===================== */

@media (max-width: 1024px) {
	.guideSection {
		padding: 1rem;
		gap: 1.8rem;
	}

	.guideText {
		max-width: 850px;
		padding: 0.5rem;
		font-size: 1.4rem;
	}

	.guideGrid {
		grid-template-columns: 1fr;
		max-width: 650px;
		gap: 3rem;
	}

	.guideCard {
		padding: 1.2rem;
	}

	.imgCard,
	.descriptionCard {
		max-width: 100%;
		font-size: 1.5rem;
	}
}

/* ===================== MOBILE ===================== */

@media (max-width: 768px) {
	.guideSection {
		padding: 1rem;
		gap: 1.5rem;
	}

	.guideDescription {
		padding: 0.5rem;
	}

	.guideText {
		font-size: 0.8rem;
		line-height: 1.55;
		font-style: italic;
		border-inline: none;
	}

	.guideGrid {
		gap: 1.25rem;
	}

	.guideCard {
		padding: 1rem;
		gap: 1.1rem;
	}

	.descriptionCard {
		font-size: 0.95rem;
		line-height: 1.45;
	}
}
