.guideSection {
	padding: 1.2rem 1rem 2.5rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.guideDescription {
	position: relative;
	width: 100%;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
	font-size: 1rem;
	font-weight: 500;
	font-family: var(--font-body);
	line-height: 1.6;
	color: var(--text-color);
	padding: 1.4rem 2rem;
}

.guideDescription::before,
.guideDescription::after {
	position: absolute;
	font-size: 4rem;
	color: var(--btn-color);
	font-family: var(--font-title);
	line-height: 1;
}

.guideDescription::before {
	content: "“";
	top: 0.1rem;
	left: 0;
}

.guideDescription::after {
	content: "”";
	bottom: -1.5rem;
	right: 0.2rem;
}

.guideGrid {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2rem;
}

.guideCard {
	background-color: var(--card-color);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
	border-radius: 10px;
	height: 100%;
}

.imgCard {
	width: 100%;
	max-width: 320px;
	border-radius: 10px;
	aspect-ratio: 4 / 3;
	object-fit: contain;
	border: 0.8px solid var(--text-color);
	background-color: #ffdfd2;
	display: block;
}

.descriptionCard {
	margin: 0;
	font-size: 0.9rem;
	font-family: var(--font-body);
	line-height: 1.5;
	text-align: center;
	color: var(--text-color);
	max-width: 320px;
}

/* TABLETTE */
@media (max-width: 1024px) {
	.guideSection {
		padding: 1.2rem 1rem 2.2rem;
		gap: 1.8rem;
	}

	.guideDescription {
		max-width: 850px;
		padding: 1.5rem 1.8rem;
	}

	.guideGrid {
		grid-template-columns: 1fr;
		max-width: 700px;
		gap: 1.5rem;
	}

	.guideCard {
		padding: 1.2rem;
	}

	.imgCard,
	.descriptionCard {
		max-width: 100%;
	}
}

/* MOBILE */
@media (max-width: 768px) {
	.guideSection {
		padding: 1rem 0.85rem 1rem;
		gap: 1.5rem;
	}

	.guideDescription {
		font-size: 0.8rem;
		line-height: 1.55;
		font-style: italic;
		padding: 1.2rem 1.1rem;
	}

	.guideDescription::before,
	.guideDescription::after {
		font-size: 2.8rem;
	}

	.guideDescription::before {
		top: 0;
		left: -0.1rem;
	}

	.guideDescription::after {
		bottom: -1rem;
		right: 0;
	}

	.guideGrid {
		gap: 1.25rem;
	}

	.guideCard {
		padding: 1rem;
		gap: 1.1rem;
	}

	.descriptionCard {
		font-size: 0.95rem;
		line-height: 1.45;
	}
}
