.grid {
	display: grid;
	gap: 3rem;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 1rem;
	align-items: stretch;
	/* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
}

/* Desktop - 3 colonnes */
@media (min-width: 1024px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

/* Tablet - 2 colonnes */
@media (min-width: 600px) and (max-width: 1023px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Mobile - 1 colonne */
@media (max-width: 599px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
