:root {
	--font-title: "Nunito", sans-serif;
	--font-body: "Inter", sans-serif;

	--marron-gris: #544541;
	--sable-rose: #feedde;
	--orange-gris: #efcab3;
	--rose-clair: #f6c9c6;
	--nav-bar: #ffdfd2;
}

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}
