/* Polices  */

/* Variables CSS */
:root {
	--marron-gris: #544541;
	--sable-rose: #feedde;
	--orange-gris: #efcab3;
	--rose-clair: #f6c9c6;
}

/* Balises HTML */

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}
