.navbar {
	background-color: var(--nav-bar);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1.7rem;
}

.navLink {
	text-decoration: none;
	color: var(--marron-gris);
	font-weight: 300;
	font-family: var(--font-body);
	font-size: 1rem;
}

/* Desktop/tablette */
@media (min-width: 768px) {
	.navbar a {
		font-size: 1rem;
	}
}
