/* .navbar {
	background-color: var(--nav-bar);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
	padding: 1rem;
	margin-top: 0.5rem;
}

.navLink {
	text-decoration: none;
	color: var(--marron-gris);
	font-weight: 300;
	font-family: var(--font-body);
	font-size: 0.8rem;
}
.navLink:hover {
	transform: scale(1.03);
	transition: all 0.15s ease;
}

@media (min-width: 768px) {
	.navLink {
		font-size: 1rem;
	}
} */

.navbar {
	width: 100%;
	background-color: var(--nav-bar);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	padding: 0.5rem;
}

.navLink {
	font-family: var(--font-body);
	font-size: clamp(0.7rem, 1.8vw, 0.9rem);
	font-weight: 400;
	color: var(--marron-gris);
	text-decoration: none;

	transition: transform 0.15s ease;
}

.navLink:hover {
	transform: scale(1.05);
}
