.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
	background-color: var(--footer);
	padding: 0.5rem;
	font-family: var(--font-body);
}

.brand {
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--text-color);
}

.legal {
	font-size: 0.7rem;
	color: var(--text-color);
	text-decoration: none;
	transition: 0.2s ease;
}
.legal:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
}
