.authBtnSection {
	display: flex;
	align-items: center;
}

.authBtn {
	padding: clamp(0.4rem, 1vw, 0.65rem) clamp(0.7rem, 2vw, 1rem);
	background-color: var(--rose-clair);
	color: var(--marron-gris);
	border: 1px solid var(--marron-gris);
	border-radius: 999px;

	font-family: var(--font-body);
	font-size: clamp(0.6rem, 1.5vw, 0.8rem);
	font-weight: 400;

	text-decoration: none;
	white-space: nowrap;
	transition:
		transform 0.15s ease,
		box-shadow 0.15s ease;
}

.authBtn:hover {
	background: #e9a5a1;
}
