.publicHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--sable-rose);
	width: 100%;
	position: relative;
}

.publicBrand {
	display: flex;
	align-items: center;
	gap: 5px;
}

.publicLogo {
	width: 30%;
	height: 30%;
	object-fit: contain;
	margin-top: 10px;
}

.publicTitle {
	font-size: 3rem;
	font-weight: 700;
	color: var(--marron-gris);
	font-family: var(--font-title);
	margin-top: 60px;
}

@media (min-width: 768px) {
	.publicHeader {
		flex-direction: column;
		align-items: stretch;
		/* padding: 0.8rem 1rem; */
	}

	.publicLogo {
		width: 6rem;
	}

	.publicTitle {
		font-size: 3rem;
		margin-top: 20px;
	}
}
